livekit-agents[sarvam,openai,google,turn-detector]>=1.0.0
livekit-plugins-noise-cancellation>=0.2.0
python-dotenv>=1.0.0
qdrant-client
openai
langchain-community
langchain-text-splitters
pypdf
httpx>=0.27.0
fastapi>=0.111.0
uvicorn[standard]>=0.29.0
ultralytics
sentence_transformers
transformers
timm
torch
numpy
pillow